<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/navbarMayor') %> 
        <div class="t-container">
            <div class="off-canvas" id="off-canvas-nav">
                <div class="oc-btnclose-container">
                    <button onclick="closeOffcanvas()" type="button" class="oc-btnclose">
                        &times;
                    </button>
                </div>
                <ul class="t-tabs">  
                    <li class="t-tab">Bandeja</li>
                    <li class="t-tab">Aprobadas</li>
                    <li class="t-tab">Rechazadas</li>
                    <li class="t-tab">Usuarios</li>
                    <li class="t-tab">Áreas</li>
                </ul>
            </div>
            <main class="page-wrap">
                <%- include('../partials/navbar', {
                    titulo: "Panel de administración"
                }) %>
                <section class="main-content">
                    <ul class="t-contents">
                        <li class="t-content">
                            <%- include('../partials/bandeja') %>
                        </li>
                        <li class="t-content">
                            <%- include('../partials/hitosAprobados') %>
                        </li>
                        <li class="t-content">
                            <%- include('../partials/hitosRechazados') %>
                        </li>
                        <li class="t-content">
                            <%- include('../partials/usuarios') %>
                        </li>
                        <li class="t-content">
                            <%- include('../partials/areas') %>
                        </li>	   
                    </ul>
                </section>
            </main>
        </div>
        <%- include('../partials/footer'); %>
        <script src="/js/globales.js"></script>
        <script src="/js/administracion.js"></script>
    </body>
</html>