<div class="box-header">
    <br>
    <h4 class="titulo">Tabla de Hitos Aprobados</h4>
    <hr>
</div>
<div class="seccion-tabla">
    <table class="display compact" id="tablaaprobadas">
        <thead>
            <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Área</th>
                <th scope="col">Autor</th>
                <th scope="col">Título</th>
                <th scope="col">Expediente</th>
                <th scope="col">Acto Administrativo</th>
                <th scope="col">Ver</th>
            </tr>
        </thead>
        <tbody>
            <% if(tarjetasAprobadas.length){ %> 
                <% for(const t of tarjetasAprobadas) { %> 
                    <tr>
                        <td><%= moment(t.tarjetasfecha).format('DD/MM/YYYY') %></td>
                        <td><%= t.areasnombre %></td>
                        <td><%= t.usuariosnombre %></td>
                        <td><%= t.tarjetastitulo %></td>
                        <td><%= t.tarjetasexpediente %></td>
                        <td><%= t.tarjetasactoadministrativo %></td>
                        <td>
                            <button class="boton-chico" type="button" onclick="abrirModal('modal-tarjetaAprobada-<%= t.idtarjetas %>')">
                                Ver
                            </button>
                            <div id="modal-tarjetaAprobada-<%= t.idtarjetas %>" class="modal">
                                <div class="modal-content" id="modal-content">
                                    <div class="boton-cerrar">
                                        <button type="button" onclick="cerrarModal('modal-tarjetaAprobada-<%= t.idtarjetas %>')" class="close">
                                            &times;
                                        </button>
                                    </div>
                                    <div class="card" id="t-<%= t.idtarjetas %>">
                                        <div class="card-body">
                                            <p class="text-muted"><%= new Date(t.tarjetasfecha).toLocaleDateString() %></p>
                                            <h5 class="card-title"><%=t.tarjetastitulo%></h5>
                                            <p class="card-text"><%=t.tarjetascuerpo%></p>
                                            <br>
                                            <p class="text-muted small"><%= t.tarjetasexpediente ? '<b>Expediente:</b>' + item.tarjetasexpediente : ''%></p>
                                            <p class="text-muted small"><%= t.tarjetasactoadministrativo ? '<b>Acto Administrativo:</b>' + item.tarjetasactoadministrativo : ''%></p> 
                                            <p class="text-muted small"><b>Palabras clave: </b><%=t.tarjetastags%></p>
                                            <p class="text-muted small"><b>Area: </b><%=t.areasnombre%></p>
                                            <hr>
                                            <p class="text-muted small"><b>Eje: </b><%=t.ejesnombre%></p>
                                            <p class="text-muted small"><b>Objetivo estratégico: </b><%=t.objetivosnombre%></p>
                                            <p class="text-muted small"><b>Línea estratégica: </b><%=t.lineasnombre%></p>
                                            <p class="text-muted small"><b>Plan de acción: </b><%=t.planesdeaccionnombre%></p>
                                        </div>
                                    </div>
                                    <div style="text-align: center;">
                                        <button type="button" class="boton" onclick="abrirModal('modal-evaluarHitoAprobado-<%= t.idtarjetas %>')">
                                            Pasar a evaluación
                                        </button>
                                    </div>
                                </div>
                                <div id="modal-evaluarHitoAprobado-<%= t.idtarjetas %>" class="modal">
                                    <div class="modal-content">
                                        <div class="boton-cerrar">
                                            <button type="button" onclick="cerrarModal('modal-evaluarHitoAprobado-<%= t.idtarjetas %>')" class="close">
                                                &times;
                                            </button>
                                        </div>
                                        <p>El hito pasará a estado de 'evaluándose'.</p>
                                        <p>¿Desea continuar?</p>
                                        <div style="text-align: center;">
                                            <button type="button" onclick="evaluarHito('<%= t.idtarjetas %>')" class="boton boton-confirmar">Confirmar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                <% } %>
            <% } %> 
        </tbody>
    </table>
</div>
